<div class="container">
    <div class="col-sm-6 col-md-10">
        <table class="table table-hover">
            <tr>
                <td>Номер заказа</td>
                <td>ФИО на памятнике</td>
                <td>Телефон</td>
                <td>Дата заказа</td>
                <td>Статус</td>
            </tr>
            <tbody>
            <tr ng-repeat="order in Orders">
                <td>{{order.id}}</td>
                <td>{{order.nameOnMonument}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.createdAt | date: 'dd.MM.yyyy'}}</td>
                <td>{{order.status}}</td>
                <td>
                    <button class="btn btn-secondary" ng-click="">Подробней</button>
                </td>
            </tr>
            </tbody>
            <p></p>
        </table>
    </div>
</div>