<div class="container">

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-show="isUserRoles('ROLE_ADMIN')">
            <div class="container-fluid">
                <a class="navbar-brand" href="" ng-show="!isUserRoles('ROLE_MAKE')">Меню:</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLinkFilterLocations" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Фильтр по магазинам
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" ng-model="location">
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location = 'Кинешма', pageIndex)">Заказы Кинешмы</a></li>
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location  = 'Заволжск', pageIndex)">Заказы Заволжска</a></li>
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location  = '', pageIndex)">Все заказы</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLinkFilterStatus" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Фильтр по статусы
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location, status = 'Signing', pageIndex)">Заказы в статусе подписания</a></li>
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location, status = 'New', pageIndex)">Новые заказы</a></li>
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location, status = 'In_work', pageIndex)">Заказы в работе</a></li>
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location, status = 'Ready', pageIndex)">Готовые заказы</a></li>
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location, status = 'Clarification', pageIndex)">Заказы на уточнении</a></li>
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location, status = 'Issued', pageIndex)">Выданные заказы</a></li>
                                <li><a class="dropdown-item" href="" ng-click="loadOrders(location, status = '', pageIndex)">Показать все</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="col-sm-6 col-md-10">
        <table class="table table-striped">
            <tr>
                <td>№</td>
                <td>ФИО на памятнике</td>
                <td>Телефон</td>
                <td>Дата заказа</td>
                <td>Место заказа</td>
                <td>Статус</td>
                <td>Функции</td>
            </tr>
            <tbody>
            <tr ng-repeat="order in OrdersPage.content">
                <td>{{order.id}}</td>
                <td>{{order.nameOnMonument}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.createdAt | date: 'dd.MM.yyyy'}}</td>
                <td>{{order.orderLocations}}</td>
                <td>{{order.status}}</td>
                <td>
                    <button class="btn btn-secondary" ng-click="goToOrder(order.id)">Подробней</button>
                </td>
            </tr>
            </tbody>
            <p></p>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" ng-repeat="pageIndex in paginationArray">
                    <button class="page-link" ng-model="location" ng-click="loadOrders(location, pageIndex)">{{pageIndex}}</button>
                </li>
            </ul>
        </nav>
    </div>
</div>