<form ng-submit="tryCreateNewOrder()">

    <div class="mb-3">
        <label class="form-label">Заказчик:</label>
        <input type="text" class="form-control" placeholder="Ф.И.О." ng-model="newOrder.fullName" required>
        <div id="textHelpName" class="form-text">Нужно указать полное имя заказчика(обязательно)</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Номер телефона:</label>
        <input type="number" class="form-control" placeholder="Телефон" ng-model="newOrder.phone" required>
        <div id="numberHelpPhone" class="form-text">Нужно указать номер телефона заказчика(обязательно)</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Дополнительный номер телефона:</label>
        <input type="number" class="form-control" placeholder="Доп. Телефон" ng-model="newOrder.phoneSecond">
        <div id="numberSecondHelpPhone" class="form-text">Нужно указать дополнительный номер телефона(необязательно)
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Адрес:</label>
        <input type="text" class="form-control" placeholder="Адрес" ng-model="newOrder.address">
        <div id="textHelpAddress" class="form-text">Нужно указать адрес заказчика(необязательно)</div>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Почта:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@mail.ru"
               ng-model="newOrder.email">
        <div id="textHelpEmail" class="form-text">Электронная почта(необязательно)</div>
    </div>

    <hr class="order-create-hr">

    <div class="mb-3">
        <div class="row">
            <div class="col-8">
                <label class="form-label">Артикул памятника:</label>
                <input type="text" class="form-control" ng-model="newOrder.vendorCode" required>
                <div id="textHelpVendorCode" class="form-text">Нужно указать артикул памятника</div>
            </div>
            <div class="col-4">
                <label for="monumentCostInput" class="form-label">Указать стоимость памятника:</label>
                <input type="number" id="monumentCostInput" class="form-control" ng-init="newOrder.monumentCost = 0"
                       ng-value=" " ng-model="newOrder.monumentCost">
            </div>
        </div>
    </div>

    <div>
        <label class="form-label">Материал памятника:</label>
        <select class="form-select" ng-model="newOrder.stoneMaterial" required>
            <option value="Гранит">Гранит</option>
            <option value="Мрамор">Мрамор</option>
        </select>
    </div>

    <div>
        <label class="form-label">Полировка памятника:</label>
        <select class="form-select" ng-model="newOrder.stonePolishing" required>
            <option value="Лицева">Лицевая полировка</option>
            <option value="Лицева+Торцы">Лицевая + Торцы</option>
            <option value="Полная">Полная полировка</option>
        </select>
    </div>

    <div>
        <label class="form-label">Размер стелы:</label>
        <select class="form-select" ng-model="newOrder.stoneSize" required>
            <option value="80x40x6">80x40x6</option>
            <option value="100x45x7">100x45x6</option>
            <option value="100x50x7">100x50x7</option>
            <option value="110x50x7">110x50x7</option>
            <option value="110x60x7">110x60x7</option>
            <option value="120x60x7">120x60x7</option>
            <option value="Не стандарт">Не стандарт</option>
        </select>
    </div>
    <fieldset ng-hide="isNotStandard(newOrder.stoneSize)">
        <div class="mb-3">
            <label for="disabledSizeInput" class="form-label">Указать не стандартный размер:</label>
            <input type="text" id="disabledSizeInput" class="form-control" ng-model="newOrder.notStandardSize">
        </div>
    </fieldset>


    <div class="mb-3">
        <div class="row">
            <div class="col-8">
                <label class="form-label">Комплект памятника:</label>
                <select class="form-select" ng-model="newOrder.stoneKit" required>
                    <option value="2шт-80х5х8; 1шт-50х5х8; 1шт-50x12x20">2шт-80х5х8; 1шт-50х5х8; 1шт-50x12x20
                    </option>
                    <option value="2шт-100х5х8; 1шт-50х5х8; 1шт-50x12x20">2шт-100х5х8; 1шт-50х5х8; 1шт-50x12x20
                    </option>
                    <option value="2шт-100х5х8; 1шт-60х5х8; 1шт-60x12x20">2шт-100х5х8; 1шт-60х5х8; 1шт-60x12x20
                    </option>
                    <option value="2шт-100х5х8; 1шт-60х5х8; 1шт-60x12x20">2шт-100х5х8; 1шт-60х5х8; 1шт-60x12x20
                    </option>
                    <option value="2шт-100х5х8; 1шт-70х5х8; 1шт-70x12x20">2шт-100х5х8; 1шт-70х5х8; 1шт-70x12x20
                    </option>
                    <option value="2шт-100х5х8; 1шт-70х5х8; 1шт-70x12x20">2шт-100х5х8; 1шт-70х5х8; 1шт-70x12x20
                    </option>
                    <option value="Не стандарт">Не стандарт</option>
                </select>
                <fieldset ng-hide="isNotStandard(newOrder.stoneKit)">
                    <div class="mb-3">
                        <label for="disabledSizeInput" class="form-label">Указать не стандартный размер:</label>
                        <input type="text" id="disabledKitInput" class="form-control"
                               ng-model="newOrder.notStandardKit">
                    </div>
                </fieldset>
            </div>
            <div class="col-4">
                <label for="stoneKitCostInput" class="form-label">Указать стоимость комплекта:</label>
                <input type="number" id="stoneKitCostInput" class="form-control" ng-init="newOrder.stoneKitCost = 0"
                       ng-value=" " ng-model="newOrder.stoneKitCost">
                <div id="textHelpStoneKitCost" class="form-text">Без учета стандартного комплекта</div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-8">
                <label class="form-label">Фигура памятника:</label>
                <select class="form-select" aria-label="Default select example"
                        ng-init="newOrder.stoneFigure = 'Без фигуры'"
                        ng-model="newOrder.stoneFigure" required>
                    <option value="Без фигуры">Без фигуры</option>
                    <option value="Волна">Волна</option>
                    <option value="Полусфера">Полусфера</option>
                    <option value="Арка">Арка</option>
                    <option value="Тюльпан">Тюльпан</option>
                    <option value="Не стандарт">Не стандарт</option>
                </select>

                <fieldset ng-hide="isNotStandard(newOrder.stoneFigure)">
                    <div class="mb-3">
                        <label for="disabledFigureInput" class="form-label">Указать не стандартную фигуру:</label>
                        <input type="text" id="disabledFigureInput" class="form-control"
                               ng-model="newOrder.notStandardFigure">
                    </div>
                </fieldset>
            </div>
            <div class="col-4">
                <label for="stoneFigureCostInput" class="form-label">Указать стоимость фигуры:</label>
                <input type="number" id="stoneFigureCostInput" class="form-control" ng-init="newOrder.stoneFigureCost = 0"
                       ng-value=" " ng-model="newOrder.stoneFigureCost">
            </div>
        </div>
    </div>

    <hr class="order-create-hr">
    <!--    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Работа на памятнике>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

    <h4 class="form-label">Работа на памятнике:</h4>

    <div class="mb-3">
        <label class="form-label">ФИО на памятнике:</label>
        <input type="text" class="form-control" placeholder="ФИО"
               ng-model="newOrder.nameOnMonument" ng-model-options="{ getterSetter: true }" required>
        <div id="textHelpNameOnMonument" class="form-text">Нужно указать ФИО для гравировки на памятник</div>

        <div class="row row-cols-auto">
            <div class="col-sm-2">
                <input type="number" class="form-control" ng-model="prices.letterNameCost">
            </div>
            <div class="col">
                <span class="form-label">- стоимость одной буквы</span>
            </div>
        </div>
        <div id="textHelpLetterNameCost" class="form-text"></div>

        <div class="row row-cols-auto">
            <div class="col-sm-2">
                <input type="number" class="form-control" readonly
                       ng-model="countLettersNameOnMonument(newOrder.nameOnMonument)"
                       ng-model-options="{ getterSetter: true }">
            </div>
            <div>
                <span class="form-label"> - кол-во букв; стоимостью:</span>
            </div>
            <div class="col">
                <input type="number" class="form-control" ng-init="newOrder.nameOnMonumentCost = 0"
                       ng-model="newOrder.nameOnMonumentCost" readonly>
            </div>
            <div>
                <span class="form-label"> руб.</span>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Даты на памятник:</label>
        <div class="row row-cols-auto">
            <div class="col">
                <input type="text" class="form-control" ng-model="newOrder.dateOnMonument1" placeholder="01.01.1950"
                       maxlength="10" required>
                <div id="textHelpDateOnMonument1" class="form-text">Нужно указать дату</div>
            </div>
            <div class="col">
                <input type="text" class="form-control" ng-model="newOrder.dateOnMonument2" placeholder="01.01.2022"
                       maxlength="10" required>
                <div id="textHelpDateOnMonument2" class="form-text">Нужно указать дату</div>
            </div>

        </div>

            <div class="row row-cols-auto">
                <div class="col-sm-2">
                    <input type="number" class="form-control" ng-model="prices.digitCost">
                </div>
                <div class="col">
                    <span class="form-label">- стоимость одной цифры</span>
                </div>
            </div>
            <div id="textHelpDigitCost" class="form-text"></div>

            <div class="row row-cols-auto">
                <div class="col-sm-2">
                    <input type="number" class="form-control"
                           ng-model="countDigits(newOrder.dateOnMonument1 + newOrder.dateOnMonument2)"
                           ng-model-options="{ getterSetter: true }" readonly>
                </div>
                <div>
                    <span class="form-label"> - кол-во цифр; стоимостью:</span>
                </div>
                <div class="col">
                    <input type="number" class="form-control" ng-init="newOrder.dateOnMonumentCost = 0"
                           ng-model="newOrder.dateOnMonumentCost" readonly>
                </div>
                <div>
                    <span class="form-label"> руб.</span>
                </div>
            </div>
    </div>

    <hr class="order-create-hr">

    <div class="mb-3">
        <label class="form-label">Количество отверстий под штыри:</label>
        <div class="row row-cols-auto">
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-click="newOrder.holesInStandCost = 0"
                           ng-model="newOrder.holesInStand" type="radio" id="inlineCheckbox0" ng-value="0">
                    <label class="form-check-label" for="inlineCheckbox1">Без отверстий</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-click="newOrder.holesInStandCost = 250"
                           ng-model="newOrder.holesInStand" type="radio" id="inlineCheckbox1" ng-value="1">
                    <label class="form-check-label" for="inlineCheckbox1">1 отв.</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-click="newOrder.holesInStandCost = 500"
                           ng-model="newOrder.holesInStand" type="radio" id="inlineCheckbox2" ng-value="2">
                    <label class="form-check-label" for="inlineCheckbox2">2 отв.</label>
                </div>
            </div>
            <div class="col">
                <span class="form-label">Стоимость: </span>
            </div>
            <div class="col">
                <input type="number" class="form-control" ng-init="newOrder.holesInStandCost = 0" ng-value=" "
                       ng-model="newOrder.holesInStandCost">
                <div id="textHelpHolesInStandCost" class="form-text">Нужно указать стоимость</div>
            </div>
        </div>
    </div>

    <hr class="order-create-hr">
    <!--    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Доп.Работа на памятнике>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultPortrait"
                   ng-model="checkedPortrait">
            <label class="form-check-label" for="flexSwitchCheckDefaultPortrait">Портрет или Фото</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedPortrait">
                <div class="mb-3">
                    <div>
                        <label for="portraitInput" class="form-label">Указать вид и размер портрета или фото на
                            памятник:</label>
                        <input type="text" id="portraitInput" class="form-control" ng-model="newOrder.portrait">
                    </div>
                    <div class="col-3">
                        <label for="portraitCostInput" class="form-label">Стоимость:</label>
                        <input type="number" id="portraitCostInput" class="form-control"
                               ng-init="newOrder.portraitCost = 0" ng-value=" " ng-model="newOrder.portraitCost">
                    </div>
                    <div class="col-3">
                        <label for="portraitFasteningCostInput" class="form-label">Стоимость крепления фото</label>
                        <input type="number" id="portraitFasteningCostInput" class="form-control"
                               ng-init="newOrder.portraitFasteningCost = 0" ng-value=" "
                               ng-model="newOrder.portraitFasteningCost">
                        <div id="textHelpPortraitFasteningCost" class="form-text">Если требуется крепление к памятнику
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultTile"
                   ng-model="checkedTile">
            <label class="form-check-label" for="flexSwitchCheckDefaultTile">Плитка</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedTile">
                <div class="mb-3">
                    <div>
                        <label for="tileInput" class="form-label">Указать материал и размер плитки на памятник:</label>
                        <input type="text" id="tileInput" class="form-control" ng-model="newOrder.tile">
                    </div>
                    <div class="col-3">
                        <label for="tileCostInput" class="form-label">Стоимость плитки:</label>
                        <input type="number" id="tileCostInput" class="form-control"
                               ng-init="newOrder.tileCost = 0" ng-value=" " ng-model="newOrder.tileCost">
                    </div>
                    <div class="col-3">
                        <label for="tileFasteningCostInput" class="form-label">Стоимость крепления плитки</label>
                        <input type="number" id="tileFasteningCostInput" class="form-control"
                               ng-init="newOrder.tileFasteningCost = 0" ng-value=" "
                               ng-model="newOrder.tileFasteningCost">
                        <div id="textHelpTileFasteningCost" class="form-text">Если требуется крепление к памятнику</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultCrucifix"
                   ng-model="checkedCrucifix">
            <label class="form-check-label" for="flexSwitchCheckDefaultCrucifix">Крест</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedCrucifix">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label for="crucifixInput" class="form-label">Указать вид креста на памятник:</label>
                            <input type="text" id="crucifixInput" class="form-control" ng-model="newOrder.crucifix">
                        </div>
                        <div class="col-4">
                            <label for="crucifixInput" class="form-label">Указать стоимость креста:</label>
                            <input type="number" id="crucifixCostInput" class="form-control"
                                   ng-init="newOrder.crucifixCost = 0" ng-value=" " ng-model="newOrder.crucifixCost">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultFlowers"
                   ng-model="checkedFlowers">
            <label class="form-check-label" for="flexSwitchCheckDefaultFlowers">Цветы</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedFlowers">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label for="flowersInput" class="form-label">Указать вид и количество цветов на
                                памятник:</label>
                            <input type="text" id="flowersInput" class="form-control" ng-model="newOrder.flowers">
                        </div>
                        <div class="col-4">
                            <label for="crucifixInput" class="form-label">Указать стоимость цветов:</label>
                            <input type="number" id="flowersCostInput" class="form-control"
                                   ng-init="newOrder.flowersCost = 0" ng-value=" " ng-model="newOrder.flowersCost">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultFrame" ng-model="checkedFrame">
            <label class="form-check-label" for="flexSwitchCheckDefaultFrame">Рамка</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedFrame">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label for="frameInput" class="form-label">Указать вид рамки на памятник:</label>
                            <input type="text" id="frameInput" class="form-control" ng-model="newOrder.frame">
                        </div>
                        <div class="col-4">
                            <label for="frameInput" class="form-label">Указать стоимость рамки:</label>
                            <input type="number" id="frameCostInput" class="form-control"
                                   ng-init="newOrder.frameCost = 0" ng-value=" " ng-model="newOrder.frameCost">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultPictureOne"
                   ng-model="checkedPictureOne">
            <label class="form-check-label" for="flexSwitchCheckDefaultPictureOne">Дополнительный рисунок 1</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedPictureOne">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label for="pictureOneInput" class="form-label">Указать вид и описание рисунка на
                                памятник:</label>
                            <input type="text" id="pictureOneInput" class="form-control" ng-model="newOrder.pictureOne">
                        </div>
                        <div class="col-4">
                            <label for="pictureOneInput" class="form-label">Указать стоимость рисунка:</label>
                            <input type="number" id="pictureOneCostInput" class="form-control"
                                   ng-init="newOrder.pictureOneCost = 0" ng-value=" "
                                   ng-model="newOrder.pictureOneCost">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultPictureTwo"
                   ng-model="checkedPictureTwo">
            <label class="form-check-label" for="flexSwitchCheckDefaultPictureTwo">Дополнительный рисунок 2</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedPictureTwo">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label for="pictureTwoInput" class="form-label">Указать вид и описание рисунка на
                                памятник:</label>
                            <input type="text" id="pictureTwoInput" class="form-control" ng-model="newOrder.pictureTwo">
                        </div>
                        <div class="col-4">
                            <label for="pictureTwoInput" class="form-label">Указать стоимость рисунка:</label>
                            <input type="number" id="pictureTwoCostInput" class="form-control"
                                   ng-init="newOrder.pictureTwoCost = 0" ng-value=" "
                                   ng-model="newOrder.pictureTwoCost">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultPictureThree"
                   ng-model="checkedPictureThree">
            <label class="form-check-label" for="flexSwitchCheckDefaultPictureThree">Дополнительный рисунок 3</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedPictureThree">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label for="pictureThreeInput" class="form-label">Указать вид и описание рисунка на
                                памятник:</label>
                            <input type="text" id="pictureThreeInput" class="form-control"
                                   ng-model="newOrder.pictureThree">
                        </div>
                        <div class="col-4">
                            <label for="pictureThreeInput" class="form-label">Указать стоимость рисунка:</label>
                            <input type="number" id="pictureThreeCostInput" class="form-control"
                                   ng-init="newOrder.pictureThreeCost = 0" ng-value=" "
                                   ng-model="newOrder.pictureThreeCost">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultEpitaph"
                   ng-model="checkedEpitaph">
            <label class="form-check-label" for="flexSwitchCheckDefaultEpitaph">Эпитафия</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedEpitaph">
                <div class="mb-3">
                    <div>
                        <label for="exampleFormControlTextareaEpitaph" class="form-label">Эпитафия:</label>
                        <textarea class="form-control" id="exampleFormControlTextareaEpitaph" rows="5"
                                  ng-model="newOrder.epitaph" ng-model-options="{ getterSetter: true }"></textarea>
                    </div>
                    <div id="textHelpTextareaEpitaph" class="form-text"></div>
                    <div class="row row-cols-auto">
                        <div class="col-sm-2">
                            <input type="number" class="form-control" ng-model="prices.letterEpitaphCost">
                        </div>
                        <div class="col">
                            <span class="form-label">- стоимость одной буквы</span>
                        </div>
                    </div>
                    <div id="textHelpLetterEpitaphCost" class="form-text"></div>
                    <div class="row row-cols-auto">
                        <div class="col-sm-2">
                            <input type="number" class="form-control" readonly
                                   ng-model="countLettersEpitaph(newOrder.epitaph)"
                                   ng-model-options="{ getterSetter: true }">
                        </div>
                        <div>
                            <span class="form-label"> - кол-во букв; стоимость:</span>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" ng-init="newOrder.epitaphCost = 0"
                                   ng-model="newOrder.epitaphCost" ng-model-options="{ getterSetter: true }" readonly>
                        </div>
                        <div>
                            <span class="form-label"> руб.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-8">
                <label for="otherWorksOnMonumentTextarea1" class="form-label">Дополнительная работа на
                    памятнике:</label>
                <textarea class="form-control" id="otherWorksOnMonumentTextarea1" rows="3"
                          ng-model="newOrder.otherWorksOnMonument"></textarea>
            </div>
            <div class="col-4">
                <label for="otherWorksOnMonumentCostInput" class="form-label">Стоимость дополнительных работ на
                    памятнике:</label>
                <input type="number" id="otherWorksOnMonumentCostInput" class="form-control"
                       ng-init="newOrder.otherWorksOnMonumentCost = 0" ng-value=" "
                       ng-model="newOrder.otherWorksOnMonumentCost">
            </div>
        </div>
    </div>

    <hr class="order-create-hr">
    <!--    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Установка>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

    <div class="mb-3">
        <div class="form-check form-label form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultInstallation"
                   ng-model="checkedInstallation">
            <label class="form-check-label" for="flexSwitchCheckDefaultInstallation">Установка:</label>
            <div class="check-element animate-show-hide" ng-hide="!checkedInstallation">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label class="form-label">Место установки памятника:</label>
                            <input type="text" class="form-control" ng-model="newOrder.installationLocation">
                            <div id="textHelpInstallationLocation" class="form-text">Нужно указать название и
                                месторасположение кладбища
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="monumentCostInput" class="form-label">Стоимость установки:</label>
                            <input type="number" id="installationCostInput" class="form-control"
                                   ng-init="newOrder.monumentInstallationCost = 0" ng-value=" "
                                   ng-model="newOrder.monumentInstallationCost">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label class="form-label">Дополнительная работа по установки и монтажу:</label>
                            <input type="text" class="form-control" ng-model="newOrder.otherInstallation">
                            <div id="textHelpOtherInstallation" class="form-text">Нужно указать дополнительные виды
                                работ или установок, в том числе других изделий
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="otherInstallationCostInput" class="form-label">Стоимость дополнительных
                                работ:</label>
                            <input type="number" id="otherInstallationCostInput" class="form-control"
                                   ng-init="newOrder.otherInstallationCost = 0" ng-value=" "
                                   ng-model="newOrder.otherInstallationCost">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="order-create-hr">
    <!--    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
    <div class="mb-3">
        <label for="exampleFormControlOtherInfo" class="form-label">Дополнительная информация:</label>
        <textarea class="form-control" id="exampleFormControlOtherInfo" rows="3"
                  ng-model="newOrder.otherInfo"></textarea>
    </div>

    <hr class="order-create-hr">
    <!--    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


    <div class="mb-3">
        <label class="form-label">Полная стоимость памятника:</label>
        <input type="number" class="form-control" ng-value="calculationMonumentCost()" ng-model="newOrder.stoneCost"
               required readonly>
    </div>

    <div class="mb-3">
        <label class="form-label">Полная стоимость работ на памятнике:</label>
        <input type="number" class="form-control" ng-value="calculationWorksOnMonumentCost()"
               ng-model="newOrder.workCost" required readonly>
    </div>

    <div class="mb-3">
        <label class="form-label">Полная стоимость установки памятника и дополнительным работам:</label>
        <input type="number" class="form-control" ng-value="calculationInstallationCost()"
               ng-model="newOrder.installationCost" required readonly>
    </div>

    <div class="mb-3">
        <h3><label class="form-label">Итоговая стоимость:</label></h3>
        <input class="form-control" name="input-total-cost" type="text" ng-value="calculationTotal()"
               ng-model="newOrder.orderCost" required readonly>
    </div>

    <hr class="order-create-hr">
    <!--    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


    <div id="button-order-check" class="d-grid gap-2 d-md-block">
        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off" required>
        <label class="btn btn-outline-warning" for="btn-check-outlined" ng-click="pressedButton()">Проверено</label>
    </div>

    <div ng-show="isPressedButton()">
        <h5 class="text-center">Дата выполнения заказа: </h5>
        <input class="d-grid gap-2 col-2.5 mx-auto" type="date" id="orderCompletionDateInput" placeholder="dd-MM-yyyy" ng-model="newOrder.orderCompletionDate" required/>
    </div>

    <div id="button-order-create" class="d-grid gap-2 col-6 mx-auto" ng-show="isPressedButton()">
        <button type="submit" class="btn btn-success btn-lg">Создать заказ</button>
    </div>
</form>
